<form class="immuto" autocomplete="off">
    <div class="flexcol">
        <div class="flexrow">
            <label>Name:</label>
            <input name="name" type="text" value="{{name}}">
        </div>
        <div class="flexrow">
            <label>Description:</label>
            <input name="system.description" type="text" value="{{description}}">
        </div>
        <div class="flexrow">
            <label>Target Number Mod:</label>
            <input name="system.target_number_modifier" type="number" value="{{target_number_modifier}}">
        </div>
        <div class="flexrow">
            <div>
                <label>School:</label>
                <select name="system.school">
                    {{#select school}}
                    {{#each schools as |s i|}}
                    <option value="{{s}}">{{capitalize s}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
</form>